---
import Layout from '../layouts/Layout.astro';
import HeaderLanding from '../components/HeaderLanding.astro';
import HeroSection from '../components/HeroSection.astro';
import ModelYSection from '../components/ModelYSection.astro';
import ModelThreeSection from '../components/ModelThreeSection.astro';
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
	<HeaderLanding />
	<main class="relative w-full h-screen overflow-auto overflow-x-hidden snap-y snap-mandatory">

		<div class="snap-start">
			<HeroSection />
		</div>

		<div class="snap-start">
			<ModelThreeSection />
		</div>

		<div class="snap-start">
			<ModelYSection />
		</div>

		<div class="snap-start">
			<HeroSection />
		</div>
		
		
		
	</main>
</Layout>

