---
import Layout from '../layouts/Layout.astro';
import HeaderLanding from '../components/HeaderLanding.astro';
import HeroSection from '../components/HeroSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
---

<Layout title="Welcome to Astro.">
	<HeaderLanding />
	<main class="relative w-full h-screen overflow-auto snap-y snap-mandatory">

		<div class="snap-start">
			<HeroSection />
		</div>

		<div class="snap-start">
			<ChargeSection />
		</div>

		<div class="snap-start">
			<HeroSection />
		</div>

		<div class="snap-start">
			<HeroSection />
		</div>
		
		
		
	</main>
</Layout>

