<section class="landing-section relative h-screen w-screen bg-blue-950 text-center"
data-header-color='white'
>
    <div class="relative flex flex-col h-full z-30">
        <header>
            <h2 class="text-white pt-40 text-[40px] font-medium">Experience Tesla</h2>
            <p class="text-white text-sm">Schedule a Demo Drive Today</p>
        </header>


        <footer class=" flex flex-col flex-grow justify-end pb-20">
            <div>
                <a class="text-white border-white bg-white/5 backdrop-blur-3xl text-sm border-[3px] rounded font-medium px-24 py-2 hover:bg-white hover:text-black transition-colors" href="#">Demo Drive</a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 h-full w-full">
        <video class="object-cover h-full w-full" autoplay muted loop src="/video_drive.webm">
        </video>
    </div>
</section>