<section class="landing-section relative h-screen w-screen bg-blue-950 text-center"
data-header-color='black'
>
    <div class="relative flex flex-col h-full z-30">
        <header>
            <h2 class="pt-40 text-[40px] font-medium">Model 3</h2>
            <p class="text-sm">Starting at $32,740</p>
            <p class="text-sm">After Federal Tax Credit</p>
            
        </header>


        <footer class=" flex flex-col flex-grow gap-8 justify-end pb-7">
            <div class="flex gap-6 justify-center">
                <a class="text-gray-700 border-gray-300 bg-gray-300  text-sm border-[2px] rounded font-medium px-16 py-2 " href="#">Explore Inventory</a>
                <a class="text-white border-black/5 bg-black/50 text-sm border-[2px] rounded font-medium px-24 py-2 " href="#">Custom Order</a>
            </div>
            <p class="text-white text-xs">3 months free Supercharging when you take delivery of a new Inventory vehicle by June 30</p>
        </footer>
    </div>

    <div class="absolute top-0 h-full w-full">
        <img class="w-full h-full object-cover" src="/Model-3-Desktop.avif" alt="model 3 tesla desktop">
    </div>
</section>